<configuration>
   <system.webServer>
      <handlers>
         <add name="Streamlit" path="*" verb="*" modules="FastCgiModule" scriptProcessor="python|D:\home\python364x86\python.exe|app.py" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
      <rewrite>
         <rules>
            <rule name="StreamlitApp" patternSyntax="ECMAScript" stopProcessing="true">
               <match url=".*" />
               <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
               </conditions>
               <action type="Rewrite" url="D:\home\site\wwwroot\app.py" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>